<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
  <!-- load bootstrap css -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <!-- load fontawesome -->
  <style>
    body {
      padding-top: 80px;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>
        <span class="fa fa-lock"></span> Node Authentication</h1>

      <p>Login or Register with:</p>

      <a href="/login" class="btn btn-default">
        <span class="fa fa-user"></span> Local Login</a>
      <a href="/signup" class="btn btn-default">
        <span class="fa fa-user"></span> Local Signup</a>
    </div>

  </div>
</body>

</html>